[Unit]
Description=Lumen Prod
After=network.target

[Service]
ExecStart=/usr/bin/lumen /etc/lumen/config.lua
WorkingDirectory=/var/lib/lumen
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lumen

[Install]
WantedBy=multi-user.target
