[Unit]
Description=mlua-test Staging
After=network.target

[Service]
ExecStart=/usr/local/bin/mlua-test-staging /etc/mlua-test-staging/config.lua
WorkingDirectory=/var/lib/mlua-test-staging
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mlua-test-staging

[Install]
WantedBy=multi-user.target
